/* 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* 공통스타일 */
.sectionPadding {
  padding-top: 110px;
  padding-bottom: 170px;
}

.sectionTitle {
  font-size: 15.5px;
  color: #baa45b;
  letter-spacing: 5px;
  margin-bottom: 60px;
}
.sectionTitle::after,
.sectionTitle::before {
  content: "";
  border-left: 2px solid #baa45b;
  margin-left: 10px;
  margin-right: 10px;
}
.mobileBr {
  display: none;
}
@media (max-width: 1025px) {
  .mobileBr {
    display: block;
  }
}

/* 네비게이션 */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  z-index: 100;
}

nav > ul {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
}
nav > ul > li {
  height: calc(100% / 6);
  background: #222;
  color: #fff;
  font-size: 15.5px;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0 10%;
  word-break: keep-all;
}
nav > ul > li:last-child {
  border-bottom: none;
}
.active {
  background: linear-gradient(167.68deg, #9d9d9d 8.4%, #595959 91.15%);
}

@media (max-width: 1025px) {
  nav {
    position: fixed;
    width: 100%;
    height: auto;
    top: auto;
    bottom: 0;
  }
  nav > ul {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
  }
  nav > ul > li {
    padding: 15px 10px;
    height: auto;
    width: calc(100% / 3);
    font-size: 12px;
    border-bottom: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  nav > ul > li:nth-child(4),
  nav > ul > li:nth-child(5),
  nav > ul > li:nth-child(6) {
    border-bottom: none;
  }
}
/* 배경 */

.background__fade {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.background__fade > div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  animation-name: moveBackground, fadeBackgorund;
  animation-duration: 12s, 12s;
  animation-iteration-count: infinite, infinite;
}
.fade-1 {
  background-image: url("./asset/1-0.jpg");
  animation-delay: 0, 0;
}
.fade-2 {
  background-image: url("./asset/1-2.jpg");
  animation-delay: 4s, 4s;
  opacity: 0;
}
.fade-3 {
  background-image: url("./asset/1-3.jpg");
  animation-delay: 8s, 8s;
  opacity: 0;
}

@keyframes moveBackground {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 30%;
  }
}

@keyframes fadeBackgorund {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 색션 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row nowrap;
  color: #fff;
  position: relative;
  justify-content: center;
  align-items: center;
}
.section01--wrap {
  align-self: center;
  justify-self: center;
  width: 50%;
  max-width: 860px;
}
.section01--wrap--logo {
  max-width: 610px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.section01--wrap--logo svg {
  width: 80%;
}
.section01--wrap--button {
  position: relative;
  width: 240px;
  height: 240px;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section01--wrap--button a {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  z-index: 5;
}
.roundAnimation {
  z-index: 4;
  position: absolute;
}
.roundAnimation > div {
  position: absolute;
  top: -120px;
  left: -120px;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  opacity: 0;
  animation-name: roundAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.roundAnimation > div:last-child {
  animation-delay: 1s;
}
.section01--wrap--button:hover > .roundAnimation > div {
  border: 5px solid #fff;
}

@keyframes roundAnimation {
  from {
    transform: scale(0, 0);
    opacity: 1;
  }
  to {
    transform: scale(1, 1);
    opacity: 0;
  }
}
.scrollImg {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
.browserGuide {
  position: absolute;
  bottom: 30px;
  right: 20px;
  text-align: right;
  font-size: 11px;
  color: #bbb;
}
@media (max-width: 1025px) {
  .section01--wrap {
    width: 100%;
  }
  .scrollImg {
    bottom: 70px;
  }
  .browserGuide {
    max-width: 130px;
    bottom: 103px;
    word-break: keep-all;
    color: #fff;
    font-weight: 600;
  }
}
/* 색션 2 */
.section-2 {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
.section-2__wrap {
  width: 56%;
}
.subTitle {
  font-size: 27px;
  margin-bottom: 45px;
  word-break: keep-all;
}
.sectionContent {
  font-size: 15.5px;
  line-height: 27px;
  margin-bottom: 60px;
}
.contentIm {
  margin-bottom: 10px;
}
.contentImg img {
  width: 100%;
}
.contentImg__label {
  font-size: 12px;
  text-align: right;
  margin-bottom: 10px;
}
.contentInfo {
  display: flex;
}
.contentInfo--item {
  width: 50%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.contentInfo--item:last-child {
  border-left: none;
}

.contentInfo--item h6 {
  width: 97%;
  height: 70px;
  line-height: 70px;
  margin: 0 auto 20px;
  background: #222;
  color: #fff;
  font-size: 27px;
}
.contentInfo--item:last-child h6 {
  background: #baa45b;
}
.contentInfo--item p {
  padding: 0 40px;
  word-break: keep-all;
  font-size: 15.5px;
}
@media (max-width: 1025px) {
  .section-2__wrap {
    width: 88%;
  }
  .subTitle,
  .contentInfo--item h6 {
    font-size: 20px;
  }
  .sectionContent,
  .contentInfo--item p {
    font-size: 13px;
    line-height: 18px;
  }
}

/* 색션 3 */
.section-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-image: url("./asset/2-5.jpg");
}
.section-3__wrap {
  width: 860px;
  display: flex;
  flex-flow: column nowrap;
}
.section-3__logo {
  width: 370px;
  margin: 0 auto 60px;
}
.section-3__logo > svg {
  width: 80%;
}
.designStory--video {
  position: relative;
}
.designStory--video img {
  width: 100%;
  opacity: 0;
}
.designStory--video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.designStory__wrap {
  text-align: left;
}
.designStory--info {
  margin: 30px auto 120px;
  padding: 20px 0;
  position: relative;
  word-break: keep-all;
  font-size: 15.5px;
  line-height: 27px;
}

.designStory--info::before,
.designStory--info::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #baa45b;
  background-image: linear-gradient(to right, #43360b, #baa45b 50%, #43360b);
}
.designStory--info::before {
  top: 0;
}
.designStory--info::after {
  bottom: 0;
}
.designStory--introduce {
  display: flex;
  flex-flow: row wrap;
}
.designStory--introduce--info {
  width: calc(100% - 234px);
}
.designStory--introduce--img {
  margin-right: 20px;
}
.designStory--introduce--info__nick {
  font-size: 11px;
}
.designStory--introduce--info__name {
  font-size: 19px;
  letter-spacing: 2.5px;
  color: #baa45b;
  margin: 15px 0 40px;
}
.designStory--introduce--info__content {
  font-size: 13px;
  line-height: 20px;
  word-break: keep-all;
}
.moreBtn {
  margin-top: 15px;
  display: block;
  text-align: center;
}

@media (max-width: 1025px) {
  .section-3__wrap {
    width: 88%;
    max-width: 750px;
  }
  .designStory--introduce--info {
    width: 100%;
  }
}
